body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60%px;
}

.orange {
    color: rgb(255, 123, 0);
}

section {
    display: flex;
}

.half-width {
    padding-left: 5%;
    width: 50%;
}

.half-width img {
    width: 80%;
    height: 80%;
    padding-top: 4%;
}

.button {
    text-decoration: none;
    border-radius: 5%;
    background-color: orange;
    padding: 10px 50px;
    background-image: linear-gradient(orange, tomato);
    font-weight: 1000;
}

.size {
    font-size: 60px;
    font-weight: bold;
    font-style: oblique;
    color: rgb(235, 134, 11);
}

h3 {
    color: blue;
}

.experience-item {
    box-shadow: 10px 10px 49px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}